<ng-container *ngIf="!load">
    <div class="container list">
        <div class="row">
            <div *ngFor="let contact of contacts | async" class="col m4 s6">
                <div class="card horizontal" (click)="goToDetails(contact.id)" appBorderCard>
                    <div class="card-stacked">
                        <div class="card-content">
                            <p class="card-title">{{contact.firstname}} {{contact.lastname}}</p>
                            <p *ngIf="( contact.note).length > 0 else flemme">
                                {{ contact.note}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="btn-floating btn-large waves-effect waves-light light-blue darken-3 z-depth-3"
        style="position: fixed; bottom: 25px; right: 25px;" routerLink="/add">
        ➕
    </a>
</ng-container>
<ng-template #flemme>
    Aucune note....
</ng-template>
<h4 *ngIf='load' class="center">
    <app-loader></app-loader>
</h4>